# ============================================================
# LARGE PATHOLOGY FILES
# ============================================================

*.svs
*.tiff
*.tif
*.ndpi

# ============================================================
# LARGE IMAGES
# ============================================================

demo_data/sample_wsi.png

# ============================================================
# RESULTS
# ============================================================


output/
# results/
# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/
create_crop.py
# ============================================================
# CONDA / ENVIRONMENTS
# ============================================================

.env
.venv
venv/
env/

# ============================================================
# HDF5 TEMP FILES
# ============================================================

*.tmp
*.h5.tmp

# ============================================================
# VS CODE
# ============================================================

.vscode/

# ============================================================
# OS FILES
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# LOG FILES
# ============================================================

*.log

# ============================================================
# SLURM
# ============================================================

slurm-*.out
slurm-*.err

# ============================================================
# CACHE
# ============================================================

.cache/